.button{
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	width: 60px;
	height: 30px;
}
.button:active{
    background-color: lightgray;
}